body, html {
    background: gray;
}

#images {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.img-element {
    width: 21%;
    padding: 2%
}

.img-element img {
    width: 100%;
}